@charset "utf-8";
body{
    font-family: arial;
    background-color: white;
}

img{
    width: 15%;
    height: 20%;
}

li{
    display: inline;
    margin-left: 20px;    
}

li a{
    text-decoration: none;
    color: brown;
    
}
ul{
    text-align: right;
}

header{
    background-color: white;
    align-self: flex-end;
    font-size: medium;      
}
#moldura{
	width: 100%;
    max-width: 100%;
    height: auto;
	

}

.grupoBotao{
	
	margin: 0 auto;
	text-align: center;	
	
}

.cor{
    color: white;
    text-align: center;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
	background-color: rgb(129, 169, 30);
}

.botao{
	margin: 5px;
	padding: 4px;
	background: rgb(129, 169, 30);
	border-radius: 8px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	letter-spacing: 2px;
	color: white;
}
.loja a{
    text-decoration: none;
    color: green;
}
.loja h3{
    margin: 5px;
    padding: 4px;
    background: rgb(126, 78, 35); 
    border-radius: 8px;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 2px;
    color: white;
}

section article{
    margin: 15px;
    display: flex;
    flex: 1 0 250px;
    flex-direction: column;
}

section{
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}
.produtos .box p {
    text-align: center;
    font-weight: bold;   
}
a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Mantém a cor padrão do texto (herdada do elemento pai) */
}

a:hover {
    color: inherit; /* Mantém a cor padrão do texto durante o hover (opcional) */
}
.produtos .box img {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
}    
.flexbox .box img{
    width: 100%;
    height: auto;
}
footer{
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
}
footer img{
    width: 15%;
    height: 10%;
    float: left;
    margin-right: 10px;
}
footer a{
    text-decoration: none;
    color: inherit;
}
.container{
    background-color:rgb(129, 169, 30);
}
footer h3{
    margin: 5px;
	padding: 4px;
	background: rgb(129, 169, 30);
	border-radius: 8px;
    text-align: center;
	font-size: 18px;
	cursor: pointer;
	letter-spacing: 2px;
	color: white;
}
@media (max-width: 670px){
body{
    background: white;
    
}    

header img{
    width: 35%;
    height: 30%;
    float: right;
}

header{
    background-color: white;
    padding: 40px;
    display: block;
}

.menu a{
    padding-inline-start: 10px;
    text-align: left;
    margin-right: 100%;
} 

ul{
    float: right;
}   

.menu{
    float: none;
    display: grid;    
}
footer p{
    display: inline-block;
    margin: 0;
}
footer h3{
    margin: 5px;
	padding: 4px;
	background: rgb(129, 169, 30);
	border-radius: 8px;
    text-align: left;
	font-size: 18px;
	cursor: pointer;
	letter-spacing: 2px;
	color: white;
}

}